{% load staticfiles %}
<html lang="en" dir="ltr">
      <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>V8 Motor</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--            <link rel="stylesheet" href='style.css'>-->
             <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

      </head>

      <body data-spy="scroll" data-target=".navbar" data-offset="50">
            <!-- <nav class="navbar sticky-top navbar-light bg-light">
                  <div class="container">
                        <a class="navbar-brand" href="#" style="font-size:2.25rem"><img src="v8_icon.png" alt="icon" width="60" height=55"  class="d-inline-block align-top">V8 Motor </a>
                  </div> -->
            <nav class="navbar navbar-expand-lg navbar-light" id="navbar" style="background-color: rgba(255, 255, 255, 0.81);" >
                  <div class="container">
                        <a class="navbar-brand" href="#" style="font-size:2.25rem"><img src="../static/img/v8_icon.png" alt="icon" width="60" height="55"  class="d-inline-block align-top">V8 Motor </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarText">
                              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item" >
                                          <a class="nav-link active" aria-current="page" href="#section1" style="font-weight:bold" >Главная</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" href="#section2" style="font-weight:bold">Услуги</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" href="#section3" style="font-weight:bold">Галерея</a>
                                    </li>
                              </ul>

                              <a class="nav-link" href="tel:+7-776-967-90-06" style="padding:2px;"><span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>+7-776-967-90-06</a>
                              <a class="nav-link" href="mailto:v8_serviceast@mail.ru" style="padding:2px;"><span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>v8_serviceast@mail.ru</a>
                        </div>
                        <!-- <button type="button" class="btn btn-dark" style="align:center; margin-left:10%;" data-toggle="modal">Записаться</button> -->
                        <a href="#myModal"  class="trigger-btn" data-toggle="modal" style="text-decoration: none;"><button type="button" class="btn btn-dark" style="align:center; margin-left:10%;" >Записаться</button></a>
                  </div>
            </nav>

            <!-- Modal HTML -->
                <div id="myModal" class="modal fade">
                    <div class="modal-dialog modal-login">
                        <div class="modal-content">
                            <form action="confirm.html" method="post">
                                {% csrf_token %}
                                {{ form.post }}
                                <div class="modal-header">
                                    <h4 class="modal-title">Записаться</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Имя</label>
                                        <input type="text" class="form-control" required="required" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label>Номер телефона</label>
                                        <input type="text" class="form-control" required="required" name="tel">
                                    </div>
                                    <div class="form-group">
                                        <label>VIN номер машины</label>
                                        <input type="text" class="form-control" required="required" name="vin">
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <input type="submit" class="btn btn-primary" value="Запись">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <section class="section1" id="section1">
                  <div class="container">
                        <div class="row">
                              <div class="col-sm-8">
                                    <h1 style="padding: 150px 10px; color:white; display: block; max-width: 100%; height: auto;">Ремонт двигателей отечественного и иностранного производства<br> Капитальный ремонт деталей двигателя <a  style="font-size: 30px" href="#section2">подробнеe</a></h1>
                              </div>
                            <div class="col-sm-4">
                                  <img src="../static/img/engine.png" alt="engine" class="rounded"width="500" height="550" style="padding-top: 0px; display: block; max-width: 100%; height: auto;">
                            </div>
                      </div>
                      <div class="row">
                           <div class="col-sm-3">
                                 <h5 style="padding: 0px; color:white;">
                                       <p style="font-weight: 300; color:rgb(251, 251, 251)">г. Нур-Султан</p>
                                       <p style="font-weight: 300; color:rgb(255, 255, 255)">ул. Жумекен Нажимеденова 20</p>
                                 </h5>
                           </div>
                           <div class="col-sm-1">
                                 <h5 style="padding: 0px; color:white;">
                                       <p style="font-weight: 100; font-size: 50px;">|</p>
                                 </h5>
                           </div>
                           <div class="col-sm-2" >
                                 <h5 style="padding: 0px; color:white;">
                                       <p style="font-weight: 300; color:rgb(135, 135, 135)">Пн - Сб</p>
                                       <p style="font-weight: 300; color:rgb(135, 135, 135)">10:00 - 18:00</p>
                                 </h5>
                           </div>
                        </div>
                  </div>
            </section>
            <section class="section2" id=section2>
                  <div class="container">
                        <div class="row">
                              <div class="col-sm-4" style="padding: 100px 0px 100px 0px ; ">
                                    <img src="../static/img/engine-transparent.png" alt="engine" class="rounded" style="padding-top: 0px; display: block; max-width: 200%; height: auto;">
                              </div>
                              <div class="col-sm-7" style="padding: 100px 0 0 120px;">
                                    <h2 style="color:white; display: block; max-width: 100%; height: auto; font-weight: 300;">Производим Капитальный Ремонт</h2>
                                    <br>
                                    <h4 style="color:rgb(255, 232, 108); font-weight: 300;">всех двигателей BMW как: <u>N20, N26, N53, N55, N55HP, N63</u></h4>
                                    <br>
                                    <h4 style="color:rgb(255, 232, 108); font-weight: 300;">«Swap моторов»-Чип тюнинг.</h4>
                                    <br>
                                    <h4 style="color:rgb(255, 232, 108); font-weight: 300;">Производим ремонт отдельных деталей любых двигателей внутреннего сгорания:</h4>
                                    <br>
                                    <h5 style="color:rgb(255, 232, 108); font-weight: 300; padding-left:2em">      - Головка блока цилиндров (ГБЦ) и её составляющие детали</h5>
                                    <h5 style="color:rgb(255, 232, 108); font-weight: 300; padding-left:2em">      - Блок цилиндров (БЦ) и его составляющие детали</h5>
                                    <h5 style="color:rgb(255, 232, 108); font-weight: 300; padding-left:2em">      - Коленчатый вал</h5>
                                    <h5 style="color:rgb(255, 232, 108); font-weight: 300; padding-left:2em">      - Шатуны</h5>
                              </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                              <div class="col-sm-4" style="padding: 0px 0px 0px 0px; \">
                                    <img src="../static/img/engine-transparent-2.png" alt="engine" class="rounded" style="padding-top: 0px; display: block; max-width: 200%; height: auto;">
                              </div>
                              <div class="col-sm-8" style="padding: 100px 0 0 120px;">
                                    <i class="fa fa-check" style="font-size:20px;color:rgb(0, 255, 10)"><b style="color:rgb(255, 255, 255); padding-left:1em">  Профессиональное оборудование</b></i>
                                    <br>
                                    <br>
                                    <i class="fa fa-check" style="font-size:20px; color:rgb(0, 255, 10)"><b style="color:rgb(255, 255, 255); padding-left:1em"> Гарантия на выполненные работы</b></i>
                                    <br>
                                    <br>
                                    <i class="fa fa-check" style="font-size:20px;color:rgb(0, 255, 10)"><b style="color:rgb(255, 255, 255); padding-left:1em"> Опытные мастера</b></i>
                                    <br>
                                    <br>
                                    <i class="fa fa-check" style="font-size:20px;color:rgb(0, 255, 10)"><b style="color:rgb(255, 255, 255); padding-left:1em"> Наличие запчастей на нашем складе</b></i>
                                    <br>
                                    <br>
                                    <i class="fa fa-check" style="font-size:20px;color:rgb(0, 255, 10)"><b style="color:rgb(255, 255, 255); padding-left:1em"> Высокоточный подбор и заказ запчастей по низким ценам</b></i>
                                    <br>
                                    <br>
                                    <i class="fa fa-check" style="font-size:20px;color:rgb(0, 255, 10)"><b style="color:rgb(255, 255, 255); padding-left:1em"> Выполнение исключительно согласованных с клиентом работ</b></i>

                              </div>
                        </div>
            </section>
            <section class="section3" id="section3">
                  <div class="row">
                        <div class="col-sm" style="padding-top:100px; text-align: center;">
                              <h1 style="color:rgb(255, 255, 255); font-weight: bold; ">ГАЛЕРЕЯ РАБОТ</h1>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-sm-12" style="padding:100px 0px 30px 0px; text-align: center;">
                              <img src="../static/img/1.jpg" class="img-thumbnail" alt="" style="max-width: 17%; height: auto;"/>
                              <img src="../static/img/2.jpg" class="img-thumbnail" alt="" style="max-width: 17%; height: auto;"/>
                              <img src="../static/img/3.jpg" class="img-thumbnail" alt="" style="max-width: 17%; height: auto;"/>
                              <img src="../static/img/4.jpg" class="img-thumbnail" alt="" style="max-width: 17%; height: auto;"/>
                        </div>
                        <div class="col-sm" style="padding:30px 0px 70px 0px; text-align: center; ">
                              <img src="../static/img/5.jpg" class="img-thumbnail" alt="" style="max-width: 17%; height: auto;"/>
                              <img src="../static/img/4.jpg" class="img-thumbnail" alt="" style="max-width: 17%; height: auto;"/>
                              <img src="../static/img/2.jpg" class="img-thumbnail" alt="" style="max-width: 17%; height: auto;"/>
                              <img src="../static/img/1.jpg" class="img-thumbnail" alt="" style="max-width: 17%; height: auto;"/>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-sm" style="padding: 0px 0px 30px 0px; text-align: center;">
                              <a href="https://www.instagram.com/v8_bmwserviceastana/"><button type="button" onlick="https://www.instagram.com/v8_bmwserviceastana/" class="btn btn-primary" style="align:center; font-size: 30px;">Больше фото в instagram</button></a>

                        </div>
                  </div>
                  <div class="row">
                        <div class="col-sm" style="padding:10px 0px 50px 0px; text-align: center;">
                              <!-- <button type="button" class="btn btn-dark" style="align:center; font-size: 30px;">Записаться</button> -->
                              <a href="#myModal"  class="trigger-btn" data-toggle="modal" style="text-decoration: none;"><button type="button" class="btn btn-dark" style="align:center;font-size: 30px;">Записаться</button></a>
                        </div>
                  </div>

            </section>
            <!-- Footer -->
            <footer class="page-footer font-small indigo" style="border-top: 3px solid rgb(215, 104, 33)">
              <!-- Footer Links -->
              <div class="container text-center text-md-left">
                <!-- Grid row -->
                <div class="row">
                  <!-- Grid column -->
                  <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Номер и Почта</h5>
                    <ul class="list-unstyled" style="text-align:left">
                      <li>
                        <a href="tel:+7-776-967-90-06">+7-776-967-90-06</a>
                      </li>
                      <li>
                        <a href="mailto:v8_serviceast@mail.ru">v8_serviceast@mail.ru</a>
                      </li>
                    </ul>
                  </div>
                  <!-- Grid column -->
                  <hr class="clearfix w-100 d-md-none">
                  <!-- Grid column -->
                  <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Адрес</h5>
                    <ul class="list-unstyled" style="text-align:left">
                      <li>
                           <p>город Нур-Султан</p>
                           <p>ул. Жумекен Нажимеденова 20</p>
                      </li>
                    </ul>
                  </div>
                  <!-- Grid column -->
                  <hr class="clearfix w-100 d-md-none">
                  <!-- Grid column -->
                  <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" >График</h5>
                    <ul class="list-unstyled" style="text-align:left">
                      <li>
                           <p>Пн - Сб</p>
                           <p>10:00 - 18:00</p>
                      </li>
                    </ul>

                  </div>
                  <!-- Grid column -->

                  <hr class="clearfix w-100 d-md-none">
                  <!-- Grid column -->
                  <div class="col-md-3 mx-auto" style="">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Инста</h5>
                    <ul class="list-unstyled" style="text-align:center">
                      <li style="margin: 0px auto 0px auto;">
                           <a href="https://www.instagram.com/v8_bmwserviceastana/" style="color:none"><i class="fa fa-instagram" aria-hidden="true" style="font-size:45px;"></i></a>
                      </li>
                    </ul>
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->
              </div>
            </footer>
            <!-- Footer -->

            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
            <script type="text/javascript">
                  $('#myModal').modal('show');
            </script>
      </body>
</html>